<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <!-- Con este link, me añado el iconito en el navegador arriba de la web -->
      <!--<link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>-->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>API Project: Request Header Parser Microservice</h2>
        <h3>Historia del usuario: </h3>
        1. 
        Puedo recopilar la IP, idioma preferido (del header <code>accept-language</code>) e información del sistema (del header <code>user-agent</code>) de mi dispositivo.

        <h3>Ejemplo de uso:</h3>
        <p>
          <a href= "https://2-request-header-parser-microservice.glitch.me/api/quiensoy">https://2-request-header-parser-microservice.glitch.me/api/quiensoy</a>
        </p>

        <h3>Ejemplo de Salida:</h3>
        <p>
          <code>{"ipaddress":"::ffff:159.20.14.100","idioma":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
        </p>
      </div>
   </body>


</html>
